<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--hibernate-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://59.110.228.132:3306/NursePlatform?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>model/CustomerEntity.hbm.xml</value>
                <value>model/NurseEntity.hbm.xml</value>
                <value>model/ServiceEntity.hbm.xml</value>
                <value>model/AdminEntity.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="connection.pool_size">
                    20
                </prop>
            </props>
        </property>
    </bean>
    <!-- upload -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <!--<property name="defaultEncoding" value="utf-8" />-->
    <!-- 以字节为单位的最大上传文件的大小 -->
    <!--<property name="maxUploadSize" value="100000" />-->
    <!--<property name="uploadTempDir" value="/assets/img" />-->
    </bean>
    <!--dao-->
    <bean id="nurseInitDao" class="dao.NurseInitDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="loginDao" class="dao.LoginDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="nurseDao" class="dao.NurseDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="registerDao" class="dao.RegisterDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="customerDao" class="dao.CustomerDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="serviceDetailDao" class="dao.ServiceDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!--service-->
    <bean id="loginService" class="service.LoginService">
        <property name="loginDao" ref="loginDao"/>
    </bean>
    <bean id="registerService" class="service.RegisterService">
        <property name="registerDao" ref="registerDao"/>
    </bean>
    <bean id="nurseService" class="service.NurseService">
        <property name="nurseDao" ref="nurseDao"/>
        <property name="serviceDetailDao" ref="serviceDetailDao"/>
    </bean>
    <bean id="customerService" class="service.CustomerService">
        <property name="customerDao" ref="customerDao"/>
        <property name="serviceDetailDao" ref="serviceDetailDao"/>
    </bean>
</beans>