<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--hibernate-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://59.110.228.132:3306/NursePlatform?useUnicode=true&amp;characterEncoding=utf8"/>
        <!--<![CDATA[jdbc:mysql://59.110.228.132:3306/NursePlatform?useUnicode=true&characterEncoding=utf8]]>-->
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>model/CustomerEntity.hbm.xml</value>
                <value>model/NurseEntity.hbm.xml</value>
                <value>model/ServiceEntity.hbm.xml</value>
                <value>model/AdminEntity.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
            </props>
        </property>
    </bean>


    <!--dao-->
    <bean id="nurseInitDao" class="dao.NurseInitDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>