<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://59.110.228.132:3306/NursePlatform</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="model/AdminEntity.hbm.xml"/>
        <mapping class="model.AdminEntity"/>
        <mapping class="model.CustomerEntity"/>
        <mapping resource="model/CustomerEntity.hbm.xml"/>
        <mapping class="model.NurseEntity"/>
        <mapping resource="model/NurseEntity.hbm.xml"/>
        <mapping class="model.ServiceEntity"/>
        <mapping resource="model/ServiceEntity.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>